################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/.vscode
/bin
/bin/Debug/net9.0
/node_modules
/obj
Bets
Results
Emerson
